@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;

}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.479);

    display: flex;
    flex-direction: column;
}

header {
    background-color: #2da63f;
    min-height: 75px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


header ul {
    list-style: none;
    display: flex;
    font-weight: 500;
    font-size: 1.1em;
    flex-wrap: wrap;
}

header ul li {
    padding: 25px;
}

header .logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    letter-spacing: 0.2em;
}

main {
    background-color: #f6f6f6;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

main .principal {
    color: #17bf31;
    font-weight: 700;
    font-size: 40px;
    max-width: 400px;
}

main .equipe{
    display: flex;
    flex-direction: column;
}

main button{
    margin-top: 25px;
    background-color: #15bf2f;
    border: none;
    padding: 15px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    
}

main .equipe img {
    background-color: #17bf31;
    border-radius: 50%;
    width: 150px;
}

footer {
    background-color: #2da63f;
    min-height: 75px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-weight: 600;
}

footer iconify-icon {
    font-size: 30px;
}

footer .links {
    display: flex;
    flex-direction: column;

}

footer .links a {
    text-decoration: none;

}